/*========================================

    Carousel Styles
    _____________


========================================*/

/*========================================

    Image Gallery Carousel

========================================*/

.image-gallery-wrapper {
    padding: 20px;  
    background: $whiteDefault;
    position: relative;
    @include breakpoint(mobile) {
        padding: 0;
    }
}

.image-gallery-carousel {
    width: 70%;
    float: left;
    padding: 0 10px 0 5px;
    @include breakpoint(phablet) {
        width: 100%;
        padding: 10px 10px 20px 10px;
    }
    @include breakpoint(mobile) {
        padding: 10px 10px 5px 10px;
    }
    &.full-width {
        width: 100%; 
    }
}

.image-gallery-carousel-slide {
    background-color: $grey;
    @include backgroundImage;
    @include aspect-ratio(815, 535);
}

.image-gallery-controls-wrapper {
    width: 30%;
    float: left;
    overflow-y: scroll;
    @include aspect-ratio(358, 525); 
    @include breakpoint(phablet) {
        width: 100%;
        @include aspect-ratio(815, 535);
    }
}

.image-gallery-controls {
    top: 0;
    width: 100%;
    position: absolute;
}

.image-gallery-control-slide {
    background-color: $grey;
    @include backgroundImage;
    @include aspect-ratio(185, 125);
}

/*========================================

	Slick JS Override Styles

========================================*/

@import "../../vendors/slick";

.slick-slide {
    height: auto;
}

button.slick-arrow {
    font-size: 0;
    color: $primary;
    cursor: pointer;
    padding: 5px 15px;
    @include transition;
    background: $secondary;
    z-index: z(default) + 1;
    @include centerVertically;
    &:after {
        top: 0;
        left: 0;
    	right: 0;
        bottom: 0;
        position: relative;
        @include transition;
        vertical-align: bottom;
        @include font-size(20);
    }
    &:hover {
        transform: translateY(-50%) scale(1.05);
    }
}

.slick-prev {
    left: 0;
    &:after {
        content: '<'; //replace with icon font
    }
}

.slick-next {
    right: 0;
    &:after {
        content: '>'; //replace with icon font
    }
}


.image-gallery-controls {
    .slick-dots {
        font-size: 0;
        li {
            margin: 0;
            width: 50%;
            cursor: pointer;
            @include transition;
            display: inline-block;
            padding: 0 10px 5px 10px;
            &.slick-active {
                @include opacity(0.4);
            }
            &:hover, &:focus {
                @include opacity(0.8);
            }
        }
    }
    @include breakpoint(mobile) {
        width: 100%;
    }
}